<footer id="footer" class="footer section">
  <div class="footer-flex">
    <div class="flex-item">
      <a class="brand pull-left" href="">
        <img alt="" src="images/brand.png">
        <div class="brand-info">
          <div class="brand-name">Archi3D</div>
          <div class="brand-text">architecture</div>
        </div>
      </a>
    </div>
    <div class="flex-item">
      <div class="inline-block">© Archi3D 2017<br>All Rights Resevered</div>
    </div>
    <div class="flex-item">
      <ul>
        <li><a href="">Site Map</a></li>
        <li><a href="">Term & Conditions</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Affiliatep</a></li>
      </ul>
    </div>
    <div class="flex-item">
      <ul>
        <li><a href="">Our Location</a></li>
        <li><a href="">Career</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="flex-item">
      <ul>
        <li class="active"><a href="">ENG</a></li>
        <li><a href="">FRA</a></li>
        <li><a href="">GER</a></li>
      </ul>
    </div>
    <div class="flex-item">
      <div class="social-list">
        <a href="" class="icon ion-social-twitter"></a>
        <a href="" class="icon ion-social-facebook"></a>
        <a href="" class="icon ion-social-googleplus"></a>
        <a href="" class="icon ion-social-linkedin"></a>
        <a href="" class="icon ion-social-dribbble-outline"></a>
      </div>
    </div>
  </div>
</footer>
